name: Publish Python Package

on:
  workflow_run:
    workflows: ["Build Python Package"]
    types:
      - completed
    branches:
      - main

permissions:
  id-token: write        
  contents: read
  actions: read

jobs:

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-package
          path: dist
          repository: ${{ github.repository }}
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: OIDC Debugger
        uses: github/actions-oidc-debugger@v1.0.0
        with:
          # The audience to use when requesting the JWT. Your Github server URL and repository owner (e.g. https://github.com/github).
          audience: '${{ github.server_url }}/${{ github.repository_owner }}'
  
          


      - name: Cloudsmith CLI Setup
        uses: cloudsmith-io/cloudsmith-cli-action@v1.0.3
        with:
          oidc-namespace: "interview-vinayak-jain"
          oidc-service-slug: "csa_81f1789758e8c73bd41804ffacd3bbQHce5g"
          oidc-auth-only: true
          
      - name: List directory contents
        run: ls -la dist/
        shell: bash

      - name: Push package to Cloudsmith
        run: |
          if ! ls dist/*.tar.gz 1> /dev/null 2>&1; then
            echo "No package found to upload"
            exit 1
          fi
          cloudsmith push python ${{ env.CLOUDSMITH_NAMESPACE }}/${{ env.CLOUDSMITH_REPOSITORY }} dist/*.tar.gz --republish
        shell: bash
